<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:insert="fragments/header :: header(~{::title})">
    <title>Anmeldung</title>
</head>
<body class="bg-light">
<div th:insert="fragments/navbar_start :: navbar(1)"></div>
<div class="container-fluid py-5 wrapper">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="form-group col-12 col-sm-12 col-md-12 col-lg-3 pb-4" style="max-width: 40em">
            <h4>ToDo-List</h4>
            <span style="color: darkgrey">Sie können sich hier zum ToDo-List anmelden.</span>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6" style="max-width: 40em">
            <div class="card" style="border-radius: 1rem;">
                <div class="row">
                    <div class="col-md col-lg d-flex align-items-center">
                        <div class="card-body p-4 p-lg-5 text-black">
                            <form th:action="@{/login}" method="post">
                                <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Anmelden</h5>
                                <div class="form-outline mb-4">
                                    <input type="email" name="username" id="username"
                                           class="form-control form-control-lg" th:required="required"
                                           th:autofocus="autofocus"/>
                                    <label class="form-label" for="username">Benutzername</label>
                                </div>
                                <div class="form-outline mb-4">
                                    <input type="password" name="password" id="password"
                                           class="form-control form-control-lg" th:required="required"/>
                                    <label class="form-label" for="password">Kennwort</label>
                                </div>
                                <div class="form-outline mb-4">
                                    <input type="checkbox" name="remember-me" id="remember-me"
                                           class="form-check-input"/>
                                    <label class="form-check-label" for="remember-me">Angemeldet bleiben</label>
                                </div>
                                <div th:if="${param.error}" class="alert alert-danger">
                                    Benutzername oder Kennwort falsch!
                                </div>
                                <div th:if="${param.logout}" class="alert alert-info">
                                    Sie sind abgemeldet!
                                </div>
                                <div th:if="${param.successPasswordChange}" class="form-group md-6">
                                    <div class="alert alert-success">
                                        Das Kennwort wurde geändert.
                                    </div>
                                </div>
                                <div class="pt-1 mb-4">
                                    <button class="btn btn-primary btn-lg btn-block" type="submit">Anmelden</button>
                                </div>
                            </form>
                            <a class="small text-muted" th:href="@{/forgot}">Passwort vergessen?</a>
                            <!-- <p style="visibility: hidden;color: #393f81;" class="mb-5 pb-lg-2">Noch keinen Account? <a
                                    href="#!" style="color: #393f81;">Hier registieren</a></p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer :: footer()"></footer>
</body>
</html>